* {
  font-family: Helvetica Neue, Helvetica;
  font-size: 1em; }

body {
  margin: 0;
  background: #FEFEFE;
  color: #151515; }

#tldr #page {
  margin-bottom: 4em;
  font-size: 1.25em;}
  #tldr #page p {
    margin: 0; }
  #tldr #page h1 {
    font-size: 2em;
    margin: 0 0.23em; }
  #tldr #page blockquote {
    margin: 0 0.55em; }
  #tldr #page code {
    font-family: "Source Code Pro", courier new, courier;
    background-color: #f2f2f2;
    color: #212121;
    display: inline-block;
    padding: 0.25em 0.5em; 
    margin: 0; }
  #tldr #page > p code {
    display: block;
    padding: 0.55em 1.25em; }
  #tldr #page ul {
    list-style: none;
    padding: 0 !important;
    margin: 1em 0 0 0; }
    #tldr #page ul li {
      padding: 0.5em 0.55em;
      line-height: 1.1; }
  @media only screen and (min-device-width: 1024px) {
    #tldr #page {
      font-size: 1em; }
      #tldr #page > p code {
        padding-left: 3em; }
        #tldr #page ul li:before {
          content: "*";
          padding: 0 12px; } }
